.airbnb-plus-explore{
    grid-column:center-start/center-end;

    display:grid;
    grid-template-rows: repeat(2, min-content) 47rem;
   
    // background-color: red;
}

.airbnb-plus-explore__header{
    grid-row: 1;
    // background-color: blue;
}

.airbnb-plus-explore__subheader{
    grid-row: 2;
    // background-color: green;
}


.airbnb-plus-explore__picture{
    grid-row: 3;
    background-color: orange;
    background-image: url('../../img/landing-page/airbnb-plus2.jpg');
    border-radius: $picture-border-radius-small;

    background-size: cover;
    background-position: center;
    // height: 100%;
    // width: 100%;

    display:grid;

}

.airbnb-plus-explore__picture__header{
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight: 400;
    color: $default-font-color;
    align-self: center;
    justify-self: center;
   
    transform: translateY(7rem);
}

.airbnb-plus-explore__picture__button{
    background-color:white;
    color: $default-font-color;
    padding: 3rem 5rem 3rem 5rem;


    font-size: 1.8rem;
    font-weight: 600;
    align-self: center;
    justify-self: center;

    text-transform:uppercase ;
    transform: translateY(-3rem);
    //box-shadow: $default-box-shadow;
}


.airbnb-plus-explore__picture__button:active{
    background-color:$airbnb-default-color-light-grey;

}


