.featured-airbnb-plus{
    grid-column:center-start/center-end;

    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(50rem,1fr));
        grid-column-gap: $default-grid-column-gap;
        // margin-bottom: -.2rem;

        @media only screen and (max-width: $bp-largest){
            grid-template-columns: 1fr;
        }
    }

}