.landing-page-form{
    grid-column: 2/3;
    grid-row: 2;

    background-color: white;


    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 4rem;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    //https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    //https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow
    box-shadow: $default-box-shadow; 

    display: grid;

    @media only screen and (max-width:$bp-small) {
        grid-column: 1/-1;
        margin-top: 0rem;

    }

    &__header{
        font-size: 3.5rem;
        margin-bottom: 2rem;

        @media only screen and (max-width:$bp-small) {
            font-size: 3rem;

        }
    }

    &__input{
        // margin-bottom: -2rem;
    }

    &__section h3{
        text-transform: uppercase;
    }

    // &__section {
    //     align-self: center;
    // }

};








