.stay-superhost{
    grid-column:center-start/center-end;


    &__cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-column-gap:$default-grid-column-gap;
    }
}