.about-host{
    // background-color: plum;
    grid-column: center-start / center-end;

    // @media only screen and (max-width:$bp-largest){
    //     display: none;
       
    //   }

    &__hr{
        margin-top:2rem;
        margin-bottom: 2rem;
    }

    &__reviews:before{
        content: "\2605";
    }
}